<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pangananku</title>
    <style>
      body {
        background: #222831;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <nav-bar></nav-bar>
      </nav>
    </header>
    <main>
      <section id="onboarding">
        <picture>
          <img src="images/heros/hero-image_1.jpg" alt="stockImage">
        </picture>
        <article id="description">
          <h2>Pangananku</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero doloremque, amet eos atque ducimus dignissimos explicabo aut fuga quae mollitia esse deleniti corporis, adipisci itaque, in aperiam provident obcaecati. Officia!</p>
        </article>
      </section>
      <section>
        <h1>Golek Panggon Panganmu</h1>
        <div class="cardList">
        </div>
      </section>
    </main>
    <footer>
      <h4>Copyright &copy; 2023 Pangananku</h4>
    </footer>
  </body>
</html>
