<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="restoran terdekat">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>Pangananku</title>
    <style>
      body {
        background: #222831;
      }
    </style>
    <script src="https://kit.fontawesome.com/120c92f19a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <section id="tabbedContent" class="helper" tabindex="0">
      <h1>
          This is a helper if you are using a screen reader. Press tab to go to navigation of helper.
      </h1>
      <a href="#nav">Skip to navigation</a>
      <a href="#onboarding">Skip to jumbotron</a>
      <a href="#maincontent">Skip to main content</a>
      <a href="#footer">Skip to footer</a>
      <a href="#tabbedContent">Repeat this helper</a>
    </section>
    <header id="header" tabindex="0">
      <nav id="nav">
        <nav-bar></nav-bar>
        <a href="#tabbedContent" class="helper">Press enter to main helper or next to the head of content</a>
      </nav>
    </header>
    <main>
      <section id="onboarding">
        <div>
          <picture>
            <img class="lazyload main-image" src="images/heros/hero-image_1.jpg" alt="stockImage">
          </picture>
          <article id="description">
            <h2 tabindex="0">Pangananku</h2>
            <p tabindex="0">Pangananku, Place to eat</p>
          </article>
        </div>
      </section>
      <section id="maincontent">
        <h1 tabindex="0">Find    Restaurant</h1>
        <div class="cardList"></div>
        <a href="#tabbedContent" class="helper">Press enter to main helper or next to the main content</a>
      </section>
    </main>
    <footer id="footer">
      <h4 tabindex="0">Copyright &copy; 2023 - Pangananku</h4>
      <a href="#tabbedContent" class="helper">Press enter to main helper or next to the main content</a>
    </footer>
  </body>
</html>
