* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
nav > nav-bar { 
  padding: 15px;
}
main > section#onboarding {
  display: flex;
  height: 400px;
}
main > section#onboarding > picture {
  position: absolute;
  height: inherit;
  object-fit: cover;
}
main > section#onboarding > picture > img {
  height: inherit;
  overflow: hidden;
  width: 99vw;
  object-fit: cover;
}
main > section#onboarding > article {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin:auto;
}
main > section#onboarding > article > h2  {
  background-color: #393E46;
  margin-bottom: 10px;
  padding: 4px;
  color: #EEEEEE;
}
main > section#onboarding > article > p {
  background-color: #393E46;
  text-align: center;
  width: 50vw;
  color: #EEEEEE;
}
main > section > h1 {
  text-align: center;
  padding: 16px 0;
  color: #00ADB5;
}
@media (min-width: 768px) {
  .cardList {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    gap: 8px;
    padding:8px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
}
@media (max-width: 768px) {
  .cardList {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    gap: 8px;
    padding:8px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
}
@media (max-width: 540px) {
  .cardList {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 8px;
    padding:8px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
}
.cardMain {
  height: auto;
  background-color: #393E46;
  border-radius: 10px;
}
.cardMain > div > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.cardContent {
  padding: 10px;
}
.cardContent > * {
  margin-bottom: 10px;
  color: #EEEEEE;
}
.topCard {
  display: flex;
  justify-content: space-between;
}
#imgContent {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
footer > h4 {
  text-align: center;
  padding: 20px;
  color:#00ADB5;
}