  main {
    margin-top: 25px;
  }
  header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7)
  }
  main > section#onboarding {
    height: 400px;
    display: flex;
    justify-content: center;
  }
  main > section#onboarding > div {
    height: inherit;
    width: calc(100vw - 500px);
    min-width: 1000px;
  }
  @media (max-width: 1200px) {
    main > section#onboarding > div {
      height: inherit;
      width: 100vw;
      min-width: 0;
    }
  }
  main > section#onboarding > div > picture {
    position: absolute;
    height: inherit;
    object-fit: cover;
    overflow: hidden;
    width: calc(100vw - 500px);
    min-width: inherit;
    z-index: -1;
  }
  @media (max-width: 1200px) {
    main > section#onboarding > div > picture {
      position: absolute;
      height: inherit;
      object-fit: cover;
      overflow: hidden;
      width: 100%;
      min-width: 0;
    }
  }
  main > section#onboarding > div > picture > img {
    height: inherit;
    width: inherit;
    min-width: inherit;
    object-fit: cover;
  }
  @media (max-width: 1200px){
    main > section#onboarding > div > picture > img {
      height: inherit;
      width: 100vw;
      object-fit: cover;
      min-width: 0;
    }
  }
  main > section#onboarding > div > article {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: inherit;
    margin:auto;
  }
  main > section#onboarding > div > article > h2  {
    background-color: #393E46;
    margin-bottom: 10px;
    padding: 4px;
    color: #EEEEEE;
  }
  main > section#onboarding > div > article > p {
    background-color: #393E46;
    text-align: center;
    width: 50vw;
    color: #EEEEEE;
  }
  main > section {
    width: 100vw;
  }
  main > section > h1 {
    text-align: center;
    padding: 16px 0;
    color: #00ADB5;
  }
  .cardList {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    gap: 8px;
    padding:8px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  @media (max-width: 1024px) {
    .cardList {
      position: relative;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 50%;
      gap: 8px;
      padding:8px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }
  }
  @media (max-width: 540px) {
    .cardList {
      position: relative;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 100%;
      gap: 8px;
      padding:8px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }
  }
  .cardMain {
    height: auto;
    background-color: #393E46;
    border-radius: 10px;
    scroll-snap-align: center;
    scroll-padding-inline: 5px;
  }
  .cardMain > div > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
  .cardContent {
    padding: 10px;
  }
  .cardContent > * {
    margin-bottom: 10px;
    color: #EEEEEE;
  }
  .topCard {
    display: flex;
    justify-content: space-between;
  }
  .topCard > h4 {
    display: flex;
  }
  .fa-location-dot {
    color: #da190b;
    margin-right: 3px;
  }
  .fa-star {
    color: #d67d3e;
    margin-right: 3px;
  }
  #imgContent {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }