  main {
    margin-top: 25px;
  }
  .helper {
    position: fixed;
    left: 0;
    background-color: #bf1722;
    color: #fff;
    padding: 8px;
    z-index: 1000;
    display: flex;
    top: -100%;
    flex-direction: column;
    
  }
  .helper > a {
    text-decoration: none;
    color: inherit;
  }
  header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7)
  }
  nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #222831;
    overflow-y: hidden;
  }
  nav > a {
    display: flex;
  }
  nav > a > h1 {
    padding: 10px;
    font-size: 40px;
    color: #00ADB5;
    font-family: Brush Script MT, cursive;
    align-self: center;
  }
  nav > ul > li {
    width: 100px;
    text-align: center;
    align-self: center;
  }
  nav > ul > li > a {
    color: white;
    min-width: 44px;
    min-height: 44px;
    width: 44px;
    height: 44px;
  }
  nav > ul > li > a:hover {
    color: #00ADB5;
  }
  @media (max-width: 768px) {
    nav {
      height: 60px;
    }
    nav > a {
      display: block;
    }
    nav > ul {
      position: absolute;
      justify-content: center;
      width: 100%;
      opacity: 0%;
      height: 60px;
      margin: 0;
      display: none;
    }
    nav > a > h1 {
      padding: 5px;
    }
    buttonbars {
      display: block;
    }
  }
  @media (min-width: 768px) {
    nav > ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
    }
    buttonbars {
      display: none;
    }
  }
  main > section#onboarding {
    height: 400px;
    display: flex;
    justify-content: center;
  }
  main > section#onboarding > div {
    height: inherit;
    width: calc(99vw - 500px);
    min-width: 1000px;
  }
  @media (max-width: 1200px) {
    main > section#onboarding > div {
      height: inherit;
      width: 99vw;
      min-width: 0;
    }
  }
  main > section#onboarding > div > picture {
    position: absolute;
    height: inherit;
    object-fit: cover;
    overflow: hidden;
    width: calc(99vw - 500px);
    min-width: inherit;
    z-index: -1;
  }
  @media (max-width: 1200px) {
    main > section#onboarding > div > picture {
      position: absolute;
      height: inherit;
      object-fit: cover;
      overflow: hidden;
      width: 100%;
      min-width: 0;
    }
  }
  main > section#onboarding > div > picture > img {
    height: inherit;
    width: inherit;
    min-width: inherit;
    object-fit: cover;
  }
  @media (max-width: 1200px){
    main > section#onboarding > div > picture > img {
      height: inherit;
      width: 99vw;
      object-fit: cover;
      min-width: 0;
    }
  }
  main > section#onboarding > div > article {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: inherit;
    margin:auto;
  }
  main > section#onboarding > div > article > h2  {
    background-color: #393E46;
    margin-bottom: 10px;
    padding: 4px;
    color: #EEEEEE;
  }
  main > section#onboarding > div > article > p {
    background-color: #393E46;
    text-align: center;
    width: 50vw;
    color: #EEEEEE;
  }
  main > section {
    width: 99vw;
  }
  main > section > h1 {
    text-align: center;
    padding: 16px 0;
    color: #00ADB5;
  }
  #mainContent {
    margin-bottom: 10px;
  }
  .cardList {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    gap: 8px;
    padding:8px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  @media (max-width: 1024px) {
    .cardList {
      position: relative;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 50%;
      gap: 8px;
      padding:8px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }
  }
  @media (max-width: 540px) {
    .cardList {
      position: relative;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 100%;
      gap: 8px;
      padding:8px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }
  }
  .cardMain {
    height: auto;
    background-color: #393E46;
    border-radius: 10px;
    scroll-snap-align: center;
    scroll-padding-inline: 5px;
  }
  .cardMain > div > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
  .cardContent {
    padding: 10px;
  }
  .cardContent > * {
    margin-bottom: 10px;
    color: #EEEEEE;
  }
  .topCard {
    display: flex;
    justify-content: space-between;
  }
  .topCard > h4 {
    display: flex;
  }
  .fa-location-dot {
    color: #da190b;
    margin-right: 3px;
  }
  .fa-star {
    color: #d67d3e;
    margin-right: 3px;
  }
  #imgContent {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .cardMain > div#buttonDiv {
    height: max-content;
    text-align: right;
    padding: 16px;
  }
  #detailButton {
    border-radius: 10px;
    background-color: #ffd369;
    padding: 8px;
    border: none;
    font-weight: bolder;
    min-height: 44px;
    min-width: 44px;
  }
  #detailButton:hover {
    background-color: #d4a842 ;
    cursor: pointer;
  }