.resCard {
    height: 100px;
    width: 100%;
    display: flex;
    background-color: #393E46;
    margin-bottom: 24px;
    border-radius: 10px;
    box-shadow: 0px 12px 12px rgb(13 11 11 / 91%);
}
#resImg {
    height: inherit;
    width: 100px;
    object-fit: cover;
}
.resCardContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.resMainContent > h2 {
    color: #00ADB5;
}
#resButtonDiv {
    align-self: center;
    padding: 16px;
}
.resDetButton {
    font-weight: bolder;
    color: white;
    border: none;
    background-color: rgba(0,0,0,0);
}
.resDetButton:hover {
    cursor: pointer;
    color: #00ADB5;
}
.res {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
}