.favBodyMain {
    margin-top: 0px;
}
.favCard, .favRestCard {
    height: 150px;
    width: 100%;
    display: flex;
    background-color: #393E46;
    margin-bottom: 24px;
    border-radius: 10px;
    box-shadow: 0px 12px 12px rgb(13 11 11 / 91%);
}
.favImg, .favRestImg {
    height: inherit;
    width: 150px;
    object-fit: cover;
}
.favContent, .favRestContent  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.favMain, .favRestMain {
    padding: 16px;
}
.favHeader > h2, .favRestHeader > h2{
    font-size: 24px;
    color: #00ADB5;
}
.fullpage, .fullpageRest{
    background-color: rgba(0,0,0,0);
    font-size: 16px;
    padding: 16px;
    border: none;
    height: 100%;
    color: #eee;
    font-weight: bolder;
}
.fullpage:hover, .fullpageRest:hover{
    cursor: pointer;
    color: #00ADB5;
}