footer {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color:#00ADB5;
}