.modal {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
}
.modaldiv {
    position: fixed;
    top: 10%;
    left: 10%;
    max-height: 600px;
    max-width: 80%;
    overflow: auto;
  }
  .modal-content {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #222831;
    border: 1px solid #888;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .restdet {
    align-self: center;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      text-decoration: underline;
      color: #00ADB5;
    }
  }
  .modal-body {
    padding: 16px;
  }
  .modal-body > div > h2 {
    margin-bottom: 16px;
  }
  .modal-body > table > tbody > tr > td {
    padding: 10px;
  }
  button {
    min-height: 44px;
    min-width: 44px;
  }
  .name {
    align-self: center;
  }
  .class-body {
    text-align: left;
  }
  .bordered {
    border-style: outset;
    border-color: blue !important;
  }
  .bordered > td, .tbody > tr > td  {
    vertical-align: baseline;
  }
  .temp{
    padding-left: 16px;
  }
  .food, .drink {
    padding: 10px;
  }
  .revcontent {
    padding: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    border-radius: 10px;
    background-color: #393e46;
    margin-bottom: 16px;
  }
  .revbody {
    padding : 10px 0;
  }