.modaldiv {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  .modal-content {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #222831;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
  }
  .modal-body {
    padding: 16px;
  }
  .modal-body > h3 {
    margin-bottom: 4px;
  }
  .modal-body > table > tbody > tr > td {
    padding: 10px;
  }
  button {
    min-height: 44px;
    min-width: 44px;
  }
  .class-body {
    text-align: left;
  }