
.detailRest {
	color: white;
}
.divimg  {
		display: flex;
		justify-content: center;
}
.detailimg {
	min-width: 1000px;
	width: calc(100% - 500px);
}
.extradetail {
	display: flex;
	justify-content: space-around;
	margin: auto;
    width: 60vw;
	h2, h3 {
		margin: 10px 0;
		font-size: 24px;
	}
}
.detailContent, .detailReview, .inputReview {
	width: 60vw;
	margin: auto;
}
.underline {
	width: fit-content;
    box-shadow: inset 0px -1px #00ADB5;
}
.cate, .desc , .addr, .menu {
    padding: 10px;
}
.backButton {
	background-image: url(./../../public/images/svg/back.svg);
	background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
	border: none;
	position: fixed;
	top: 100px;
	left: 10px;
	border-radius: 50%;
	background-color: #00ADB5;
}
.favButton {
	background-image: url(../../public/images/svg/heart-solid.svg);
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
	background-size: 50%;
	position: fixed;
	bottom: 50px;
	right: 10px;
	border: none;
}
.redfavButton {
	background-image: url(../../public/images/svg/red-heart-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
	background-size: 50%;
	position: fixed;
	bottom: 50px;
	right: 10px;
	border: none;
}
.backButton:hover, .favButton:hover, .redfavButton:hover {
	background-size: 65%;
	cursor: pointer;
	background-color: #00ADB5;
}
.revName {	
	width: fit-content;
	margin: auto;
	margin-bottom: 16px;
}
.form {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	label {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	input, textarea {
		padding: 12px;
		font-size: 1rem;
	}
	input {
		margin-bottom: 1rem;
	}
	textarea {
		resize: vertical;
	}
}
.btnSubmit {
	background-color: #ffd369;
    color: #222831;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px;
	display: flex;
    margin-left: auto;
    align-items: center;
}